# /
dist
tiles

# public/
public/data

# scripts/
edr_scripts/settings.json
wfs_scripts/settings.json

# npm
node_modules

# python
*.pyc

# vscode
.vscode/*
!.vscode/launch.json

# vim
*.swp

# env
.env