@font-face {
    font-family: RedHatText-Medium;
    src: url(../fonts/RedHatText/RedHatText-Medium.ttf);
}

@font-face {
    font-family: RedHatText-Regular;
    src: url(../fonts/RedHatText/RedHatText-Regular.ttf);
}
