* {
    box-sizing: border-box;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

html, body, #app {
    height: 100%;
    margin: 0;
}

.ol-zoom {
    left: unset !important;
    top: 6em !important;
    right: 1em !important;
    font-size: 1.2em;
}

.ol-control button {
    display: block;
    margin: 1px;
    padding: 0;
    color: #ffffffbb;
    font-size: 1.14em;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    height: 1.375em;
    width: 1.375em;
    line-height: .1em;
    background-color: rgba(0, 60, 136, .5);
    border: none;
    border-radius: 2px;
}

.ol-control button:hover, .ol-control button:focus {
    outline: none;
    color: white;
    background-color: rgba(0, 50, 136, 0.7);
}

.ol-control {
    background-color: rgba(255, 255, 255, 0.5);
}

.ol-zoomslider {
    left: unset;
    top: 11em;
    right: 1em;
    font-size: 1.2em;
}

.ol-touch .ol-zoomslider {
    top: 12em;
}

.ol-scale-line {
    left: 1em;
    bottom: 2.5em;
}

.ol-mouse-position {
    top: unset;
    bottom: 2.5em;
    right: 1em;
}

.ol-attribution.ol-unselectable.ol-control.ol-uncollapsible {
    position: absolute;
    bottom: 2.5em;
    right: 1em;
    height: 1.5em;
    border-radius: 4px;
    a {
        text-decoration: underline;
        color: rgba(0, 50, 136, 0.7)
    }
    li {
        font-size: 1em;
    }
    li:hover, li:focus {
        background-color: transparent;
        color: rgba(0, 0, 0, 0.8);
    }
}

@media only screen and (max-width: 767px) {
    .ol-zoom,
    .ol-zoomslider,
    .ol-mouse-position,
    .ol-scale-line {
        display: none;
    }
    .ol-attribution.ol-unselectable.ol-control.ol-uncollapsible {
        right: 0em;
    }
    li {
        font-size: 0.7em!important;
    }
    
}
