* {
    box-sizing: border-box;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

html, body, #app {
    height: 100%;
    margin: 0;
}

.ol-zoom {
    left: unset;
    top: 6em;
    right: 1em;
}

.ol-zoomslider {
    left: unset;
    top: 11em;
    right: 1em;
}

.ol-touch .ol-zoomslider {
    top: 12em;
}

.ol-scale-line {
    left: 1em;
    bottom: 2.5em;
}

.ol-mouse-position {
    top: unset;
    bottom: 2.5em;
    right: 1em;
}

.vdp-datepicker__calendar .cell.selected,
.vdp-datepicker__calendar .cell.selected:hover {
    background-color: #1773B9 !important;
    color: white;
}

.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).day:hover,
.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).month:hover,
.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).year:hover {
    border: 1px solid #1773B9 !important;
}

@media only screen and (max-width: 767px) {
    .ol-zoom,
    .ol-zoomslider,
    .ol-mouse-position,
    .ol-scale-line {
        display: none;
    }
}
