/* Breakpoints */
$breakpoint-lg: 1200px;
$breakpoint-md: 840px;
$breakpoint-sm: 640px;
$breakpoint-xs: 360px;

/* Fonts */
$font-medium: RedHatText-Medium;
$font-regular: RedHatText-Regular;

/* Font sizes */
$font-xl: 1.5rem;
$font-lg: 1.25rem;
$font-md: 1rem;
$font-sm: 0.875rem;
$font-xs: 0.75rem;

/* Font colors */
$color-font-light: rgba(255, 255, 255, 0.8);
$color-font-dark: rgba(0, 0, 0, 0.8);

/* Colors */
$color-header-date: #1773B9;
$color-header-time: #0066b3;

$color-map-control-bg: rgba(255, 255, 255, 0.4);
$color-map-control-bg-hover: rgba(255, 255, 255, 0.6);
$color-map-control-fg: rgba(0, 60, 136, 0.5);
$color-map-control-fg-hover: rgba(0, 60, 136, 0.7);

/* Border radiuses */
$border-radius-lg: 1em;
$border-radius-md: 0.75em;
$border-radius-sm: 0.5em;
$border-radius-xs: 0.25em;

/* Z-indices */
$z-index-settings-panel: 5;
$z-index-settings-panel-backdrop: 4;
$z-index-map-legend: 3;
$z-index-timepicker: 3;
$z-index-search-bar-icon: 2;
$z-index-button-open-settings: 1;
$z-index-search-bar: 1;
$z-index-media-controller: 1;
$z-index-header: 1;
$z-index-button-datetime: 1;
