/* Breakpoints */
$breakpoint-lg: 1024px;
$breakpoint-md: 768px;
$breakpoint-sm: 400px;

/* Fonts */
$font-medium: RedHatText-Medium;
$font-regular: RedHatText-Regular;

/* Font sizes */
$font-xl: 1.5rem;
$font-lg: 1.25rem;
$font-md: 1rem;
$font-sm: 0.875rem;
$font-xs: 0.75rem;

/* Font colors */
$color-font-light: rgba(255, 255, 255, 0.8);
$color-font-dark: rgba(0, 0, 0, 0.8);

/* Colors */
$blue-dark: #0066b3;
$blue-light: #1773b9;
$color-header-date: $blue-light;
$color-header-time: $blue-dark;

$color-map-control-bg: rgba(255, 255, 255, 0.4);
$color-map-control-bg-hover: rgba(255, 255, 255, 0.6);
$color-map-control-fg: rgba(0, 60, 136, 0.5);
$color-map-control-fg-hover: rgba(0, 60, 136, 0.7);

/* Border radiuses */
$border-radius-lg: 1em;
$border-radius-md: 0.75em;
$border-radius-sm: 0.5em;
$border-radius-xs: 0.25em;

/* Z-indices */
$z-index-full-screen-spinner: 10000;
$z-index-settings-panel: 9000;
$z-index-timepicker-list: 9000;
$z-index-search-suggestion-list: 9000;
$z-index-calendar-popup: 9000;
$z-index-backdrop: 8000;
$z-index-header: 7000;
$z-index-map-legend: 5000;
$z-index-timepicker: 5000;
$z-index-search-bar-icon: 4000;
$z-index-button-open-settings: 1000;
$z-index-search-bar: 1000;
$z-index-button-datetime: 1000;
$z-index-media-controller: 100;
