* {
    box-sizing: border-box;
}

html, body, #app {
    height: 100%;
    margin: 0;
}

.toolbar {
    width: 100%;
    height: 3em;
    line-height: 3em;
    display: table;
    padding-left: 0.2em;
    text-align: center;
}

.dataset-picker {
    font-size: 1.25em;
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#app {
    height: 100%;
    width: 100%;
}

.map {
    width: 98%;
    height: calc(98% - 3em);
    margin: 0px auto;
    border: 1px solid #000;
}

.ol-mouse-position {
    top: auto;
    bottom: 8px;
    right: 8px;
}
